[build]
  publish = "."
  functions = "netlify/functions"
  edge_functions = ""

[dev]
  port = 8888
  edge_functions = ""

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200